/* Um die Struktur des Headers durch classes leichter zu steurn, brauchte ich noch eine .css Datei. So war mir leichter zu erkennen, ob ich das Header oder die Bilderliste bearbeite.  Tutorial Quellen:
1. http://meyerweb.com/eric/tools/css/reset/index.html
2. https://www.youtube.com/watch?v=Sa0pEHhHdtM&index=11&list=PLyA-HUCKaq14LJkWczL7ASRG4oGeHe07d

Um das zu erreichen, brauchte ich viel Zeit, weil ich ganz allein arbeitete. Damit fand ich diese Tutorials hilfreich. 
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

body {
  line-height: 1; }

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: normal; }

ol, ul {
  list-style: none; }

blockquote {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

a img {
  border: none; }

/* =Scss Variables
-------------------------------------------------------------- */
/* =Global
-------------------------------------------------------------- */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #597ab5;
  color: #505050;
  font-family: "Ubuntu", sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 1.8; }

/* Headings */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-weight: 600; }

a {
  text-decoration: none;
  color: #fff; }

a:hover {
  color: #dbc26b; }

/* =Template
-------------------------------------------------------------- */
#wrapper {
  width: 100%;
  margin: 0 auto; }

#main {
  background-color: #fff;
  padding-top: 150px; }

.container {
 font-size: 14px;
  width: 80%;
  margin: 0 auto;
  padding: 0 30px; }

section {
  padding: 60px 0; }
  section h1 {
    font-weight: 600;
    margin-bottom: 10px; }
  section p {
    margin-bottom: 30px; }
    section p:last-child {
      margin-bottom: 0; }
  section.color {
    background-color: #597ab5;
    color: white; }

/* =Info Bar
-------------------------------------------------------------- */
#info-bar {
  background-color: #597ab5; }
  #info-bar a {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
    padding: 10px; }
    #info-bar a:hover {
      background-color: #dbc26b; }
  #info-bar span.all-tutorials,
  #info-bar span.back-to-tutorial {
    display: block;
    width: 50%; }

/* =Header
-------------------------------------------------------------- */
header {
  width: 100%;
  height: 150px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  background-color: #597ab5;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s; }
  header h1#logo {
    display: inline-block;
    height: 150px;
    line-height: 150px;
    float: left;
    font-family: "Aileron", sans-serif;
    font-size: 60px;
    color: #fff;
    font-weight: 100;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s; }
  header nav {
    display: inline-block;
    float: right; }
    header nav a {
      line-height: 150px;
      margin-left: 20px;
      color: #fff;
      font-weight: 100;
      font-size: 18px;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
      header nav a:hover {
        color: #fff; }
  header.smaller {
    height: 55px; }
    header.smaller h1#logo {
      width: 150px;
      height: 75px;
      line-height: 75px;
      font-size: 30px; }
    header.smaller nav a {
      line-height: 75px; }
 	footer {
 	color: white;
     font-size: 14px;
font-weight: 100;
    margin: 0 auto;
    text-align: center;
    height: 200px;
}
#wrapperDrive{

position: relative;
background-image:url(images/header.png);
z-index: 999;
}

#header{

left: 50%;
margin-left: -500px;
background:url(images/logo.png) no-repeat;
width:1000px;
height:200px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }

/* =Media Queries
-------------------------------------------------------------- */
@media all and (max-width: 660px) {

  header h1#logo {
    display: block;
    float: none;
    margin: 0 auto;
    height: 100px;
    line-height: 100px;
    text-align: center; }
  header nav {
    display: block;
    float: none;
    height: 50px;
    text-align: center;
    margin: 0 auto; }
    header nav a {
      line-height: 50px;
      margin: 0 10px; }
  header.smaller {
    height: 75px; }
    header.smaller h1#logo {
      height: 40px;
      line-height: 40px;
      font-size: 12px; }
    header.smaller nav {
      height: 40px; }
      header.smaller nav a {
        line-height: 40px; } }

<!-- Die Sidebar CODE-->

<!-- Diese Tutorial war ziemlich hilfreich für das Umbau des Sidebars aber das hat viel Zeit gekostet: https://www.youtube.com/watch?v=d4P8s-mkMvs-->
html, body {
  margin: 0;
  padding: 0; 
  font-family: sans-serif;
}
.hamb{
  width: 28px;
  height: 5px;
  background: #fff;
  margin-bottom: 3px;
  
}
#navbar{
  height: 15px;
  width: 100%;

  position: absolute;
  z-index:999;
  background: #597ab5;
 color: #fff;
}
.page-content {
  width: 75%;
  margin: auto;
  position: relative;
  z-index: 999;
  -webkit-transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0;
  background: #fff; 
}

.toggle {
  text-decoration: none;
  font-size: 30px;
  color: #fff;
  -webkit-transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0;
  position: fixed;
  top: 10px;
  left: 20px;

  cursor: pointer; 
  transition: .8s;
}

.sidebar {
  position: fixed;
  top: 45px;
  bottom: 0px;
  left: -180px;
  -webkit-transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0;
  width: 120px;
  padding: 30px;
  background: #597ab5;
  z-index: 999; 
  transition: .7s;
}
  
.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0; }

.sidebar li {
    color: #999;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
      margin: 0;
    margin-bottom: 16px;
    -webkit-font-smoothing: antialiased;
    cursor: pointer; }
   
.sidebar li:hover {
      color: yellow; }

#sidebartoggler {
  display: none; 
}
  #sidebartoggler:checked + .page-wrap .sidebar {
    left: 0px; 
    transition: .6s;
  }
  #sidebartoggler:checked + .page-wrap {
    left: 200px; 
    transition: .6s;
  }
  #sidebartoggler:checked + .page-wrap .page-content {
    opacity: .8;
   
  }
<!-- die Sidebar code ENDUNG. Ich soll eine Augenscheinliche Trennung entstehen, weil ich manchmal viel verwirend davon bin.
-->


@media all and (max-width: 600px) {
  .container {
    width: 100%; }

  #info-bar a {
    display: block; }
  #info-bar span.all-tutorials,
  #info-bar span.back-to-tutorial {
    width: 100%; }
  #info-bar span.all-tutorials,
  #info-bar span.back-to-tutorial {
    float: none;
    text-align: center; }
  #info-bar span.all-tutorials {
    border-bottom: solid 1px #597ab5; } }

//*Code um die Seite bei Öffnung von Tablets zu minimisieren. *//

@media only screen and (min-width: 768px) and (max-width: 989px) {
.responsive #top #wrap_all #header { position: fixed; }
.responsive .header-scrolled #header_main .container {height: 60px !important; line-height: 60px !important; }
.responsive #top #main {padding-top: 115px !important; margin: 0;}
}
